.contact{
    border-bottom: black 5px solid;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.contact a{
    position: relative;

font-family: 'Inter';
font-style: normal;
font-weight: 555;
font-size: 64px;
line-height: 77px;
letter-spacing: 0.05em;
text-decoration: none;
color: #000000;
font-variation-settings: 'slnt' 0;

}