body
{
    background-color: rgb(151, 211, 211);
}
/* #controller{
background-image: url("../assets/meshgradient.png");
} */

#logo{
    /* width: 150px; */
    display: block;
    position: relative;

}

ul {
    list-style-type: none;
}
ul li a{
    padding: 15px;

    /* position: absolute; */
    /* left: 5.56%;
    right: 2.45%;
    top: 31.48%; */
    /* bottom: 59.47%; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-decoration-line: line-through;

    color: #FFFCFC;
}

#jsmarqueewrapper{
    width: 100000px; transform: translateX(0px); animation: 29.17s linear 0s infinite normal none paused marqueeAnimation-3994000;
}

#jsmarquee{
margin-right: 0px; float: left;
}


#navv{
    display: inline-flex;
}

.lightmodebutton {
    background-color: #FFFFFF;
    color: #000000;
  }

.dark {
    background-color: #333;
    color: #fff;
    }
.light {
    background-color: rgb(238, 17, 17);
    color: #333;
    }

.bxcontact
{
    text-decoration: none !important;

  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;

  text-decoration-line: overline;
  text-decoration-line: line-through;
  box-shadow: 2px 7px 96px -2px rgb(53, 54, 56);
  -webkit-box-shadow: 2px 7px 96px -2px rgb(83, 86, 98);
  -moz-box-shadow: 2px 7px 96px -2px rgb(53, 55, 63);
}

.bxcontact:hover
{
    color: #e5ff00;
    box-shadow: none;
    cursor: pointer;
}
/* ok */
.openBtn {
    background: #f1f1f1;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .openBtn:hover {
    background: #bbb;
  }
/* end ok */

  .overlay {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  @media only screen and (max-width: 600px) {
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
      }
  }
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }